section {
  float: left;
}


body {
  color: #898686
}

h1 {
  color: #09065E
}
#contenedor1 {
  background-color: #000000
}

#contenedor2 {
  background-color: #F5E70B
}

#contenedor3 {
  background-color: #000000
}
