  .navbar {
    margin-bottom: 0;
  }

  #myCarousel {
    margin-bottom: 20px;
  }

  .containerPortada{
    margin-top: 30px;
  }

  footer {
    height: 200px;
    background-color: #ddb74d;
    margin-top: 50px;
  }

  .jumbotron {
    background-image: url(../imagenes/ImagenJumbotron.jpg);
    /* margin-left: 20px;
    margin-right: 20px; */
  }

  .jumbotron h1 {
    color: #fff;
    margin-left: 20px;
  }

  .jumbotron p{
    color: #fff;
    margin-left: 20px;
  }

  .productos {
    margin-bottom: 20px;
  }

  .presentacion iframe {
    width: 100%;
    height: 250px;
  }

  .enlaces {
    margin-bottom: 20px;
  }

  .enlaces h3 {
    text-align: center;
  }

  /* .video h2 {
    text-align: left;
    margin-left: 110px;
  }

  .video iframe {
    margin-left: 50px;
    width: 500px;
    height: 300px;
  } */

  .descripcionVideo {
    text-align: justify;
  }

  b {
    color: black;
    align-content: center;
  }

  #instagram {
    color: black;
  }

  #facebook {
    color: black;
  }

  #twitter {
    color: black;
  }

  i:hover {
    color: #fff;
  }

  /* .row {
    text-align: center;
    margin-right: 20px;
  } */

  .rowInformacion {
    margin-top: 5px;
  }

  .rowTelefonos {
    margin-left: 30px;
    margin-bottom: 40px;
  }

   #ubicacion{
    text-align: center;
    float: right;
    margin-top: -170px;
    margin-right: 120px;
  }