   #myCarousel {
       margin-top: 20px;
   }


  .h1 {
      text-align: center;
  }

  .col-sm-6{

  }

  #footer {
    margin-top: 100px;
    height: 200px;
    background-color: #40c2e9;
  }

  b {
    color: black;
    align-content: center;
  }

  #instagram {
    color: black;
  }

  #facebook {
    color: black;
  }

  #twitter {
    color: black;
  }

  i:hover {
    color: #fff;
  }

  .row {
    text-align: center;
    margin-bottom: 100px;
  }

  iframe {
    margin-bottom: 100px;
    margin-right: 420px;
    margin-left: 100px;
    height: 150px;
    width: 150px;
  } 

   #ubicacion{
    text-align: center;
    float: right;
    margin-top: -170px;
    margin-right: 120px;
  }