body {}
#contenido
{
/* Ancho de 700px y centrado en el navegador */
margin: auto;
}

div {
    border: 2px solid #CCC;
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 400px;
    margin: auto;
    }

#imagen1 {
    position: fixed;
    top: 50px;
    left: 50px;
}
