a:link {
    color: #CC0000;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #CCC;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #CC0000;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}