body {
  background: linear-gradient(to bottom, rgb(3, 103, 218), white);
  }
  
  .menu img {
    color: white;
    float: left;
    margin-top: 0px;
    margin-left: -40px;
    margin-right: 10px;
    width: 75px;
    height: 60px;
  }
  
  .menu {
    text-transform: uppercase;
    color: white;
    margin-left: 50px;
  }
  
  .menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: black;
    /*overflow: hidden; /* Limpiamos errores de float */
  }
  
  .menu ul li {
    float: left;
    width: 185px;
    height: 55px;
    background-color: black;
    opacity: .8;
    line-height: 55px;
    text-align: center;
    /*font-family: Arial, sans-serif;*/
    font-size: 20px;
    margin-right: 0px;
  }
  
  .menu ul li a {
    display: block;
    /* Convertimos los elementos a en elementos bloque para manipular el padding */
    /*padding: 20px;*/
    color: #fff;
    text-decoration: none;
  }
  
  .menu ul li a:hover {
    background:  rgb(211, 103, 3);
  }
  
  .menu ul li ul li {
    display: none;
  }
  
  .menu ul li:hover ul li {
    display: block;
  }
  
  img {
    margin-top: 3px;
    margin-left: 20px;
    align-content: center;
    width: 1185px;
    height: 500px;
  }
  
  .producto {
    padding-top: 20px;
  }
  
  .contenido img {
    margin-top: 3px;
    margin-left: 20px;
    align-content: center;
    width: 1185px;
    height: 500px;
  }
  
  .producto img {
    width: 300px;
    height: 200px;
    margin-left: 0px;
  }
  
  h1 {
    margin-left: 360px;
    margin-top: 100px;
    color: rgb(223, 28, 28);
  }
  
  .producto {
    float: left;
    width: 33%;
    text-align: center;
  }
  
  footer {
    margin-top: 800px;
    height: 200px;
    background-color: rgb(1, 67, 78);
  }
  
  .redes p {
    text-align: center;
  }
  
  #instagram {
    color: black;
    margin-left: 510px;
  }
  
  #facebook {
    color: black;
    align-content: center;
  }
  
  #twitter {
    color: black;
    align-content: center;
  }
  
  i:hover {
    color: #fff;
  }
  
  #copyright {
    margin-top: 50px;
    text-align: center;
  }

  iframe{
    margin-top: -1000px;
    margin-right: 420px;
    margin-left: 980px;
    height: 150px;
    width: 250px;
  }

  #ubicacion{
    text-align: center;
    float: right;
    margin-top: -170px;
    margin-right: 120px;
  }