 
  .menu {
    text-transform: uppercase;
    color: white;
    margin-left: 250px;
  }
  .menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: black;
    /*overflow: hidden; /* Limpiamos errores de float */
  }
  .menu ul li {
    float: left;
    width: 180px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    /*font-family: Arial, sans-serif;*/
    font-size: 20px;
    margin-right: 0px;
  }
  .menu ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    /*padding: 20px;*/
    color: #fff;
    text-decoration: none;
  }
  .menu ul li a:hover {
    background: #3ead47;
  }
  .menu ul li ul li{
    display: none;
  }
  .menu ul li:hover ul li {
    display: block;
  }
  contenido {
    padding-top: 80px;
  }