  .menu img {
    float: left;
    margin-top: 0px;
    margin-left: -40px;
    margin-right: 10px;
    width: 75px;
    height: 60px;
  }

  .menu {
    text-transform: uppercase;
    color: white;
    margin-left: 50px;
  }

  .menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: black;
    /*overflow: hidden; /* Limpiamos errores de float */
  }

  .menu ul li {
    float: left;
    width: 185px;
    height: 55px;
    background-color: black;
    opacity: .8;
    line-height: 55px;
    text-align: center;
    /*font-family: Arial, sans-serif;*/
    font-size: 20px;
    margin-right: 0px;
  }

  .menu ul li a {
    display: block;
    /* Convertimos los elementos a en elementos bloque para manipular el padding */
    /*padding: 20px;*/
    color: #fff;
    text-decoration: none;
  }

  .menu ul li a:hover {
    background: #09B949;
  }

  .menu ul li ul li {
    display: none;
  }

  .menu ul li:hover ul li {
    display: block;
  }

  contenido {
    padding-top: 80px;
  }

  img {
    margin-top: 3px;
    margin-left: 20px;
    align-content: center;
    width: 1185px;
    height: 500px;
  }

  h1 {
    text-align: center;
    margin-top: 100px;
    color: #E11D0A;
  }

  p {
    margin-left: 5px;
  }

  footer {
    height: 200px;
    background-color: #7C7170;
  }

  #instagram {
    color: black;
  }

  #facebook {
    color: black;
  }

  #twitter {
    color: black;
  }
  i:hover{
    color: #fff;
  }
  #copyright{
    margin-top: -25px;
    text-align: center;
  }